* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
}

main {
    background: #11112c;
    color: #fff;
}

H2 {
    font-size: 19px;
}

header {
    color: #fff;
    background: rgb(8, 6, 20);
}

.topnav {
    width: 100%;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav ul {
    display: flex;
}

.topnav ul li {
    list-style: none;
    padding: .5em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 1em;
    list-style-type: none;
    text-transform: uppercase;
}

.header-text {
    text-align: center;
    width: 500px;
    margin: auto;
    padding: 5em 0;
}

.bs {
    width: 100%;
    height: 50px;
}

.bs p {
    text-align: right;
    padding-top: 1em;
}

.intro {
    padding: 2em 0;
}

.text-area {
    padding: 2em;
    padding-right: 4em;
    overflow: hidden;
    position: relative;
}

.circle-section {
    position: relative;
    height: 450px;
    margin: 2em 0;
}

.circle {
    will-change: transform;
    position: absolute;
    border-radius: 50%;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    transition: background .2s;
}

.circle-1 {
    width: 150px;
    height: 150px;
    background: #fff;
    z-index: 40;
}


.circle:hover {
    background: rgb(212, 87, 87);
}

.circle-2 {
    width: 250px;
    height: 250px;
    /* border: 50px solid #000; */
    background: #000;
    z-index: 30;
}

.circle-3 {
    width: 350px;
    height: 350px;
    /* border: 50px solid rgb(58, 118, 230); */
    background: rgb(58, 118, 230);
    z-index: 20;
}
.circle-4 {
    width: 450px;
    height: 450px;
    /* border: 50px solid rgb(199, 219, 255); */
    background: rgb(199, 219, 255);
    z-index: 10;
}

.btn {
    margin-top: 2em;
    padding: 1em 3em;
    border-radius: 50px;
}

footer {
    background: #11112c;
    width: 100%;
    color: #fff;
    padding-top: 10em;
}

footer ul {
    display: flex;
    float: right;
}

footer ul li {
    padding: 1em;
    list-style-type: none;
    text-transform: uppercase;
}

.f-r {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third-row {
    border-bottom: 1px solid white;
}

.third-row ul li:first-child {
    padding-left: 0;
}

.fourth-row ul li {
    padding: .5em;
}

.fourth-row ul li:first-child {
    padding-left: 0;
}

footer p {
    margin-top: 5em;
}

.circle-wrapper {
    width: 450px;
    height: 450px;
    margin:0 auto;
}
.text-wrapper {
    padding: 5em 0;
    overflow: hidden;
}

.section-border {
    /* border-bottom: 1px solid #fff; */
    padding: 5em 0;
}

.scrollmagic-pin-spacer {
    margin: auto!important;
}

.section-border {
    display: none;
}

.circle-hide {
    visibility: hidden;
}

.circle-text {
    position: absolute;
    top:0;
}

#circle-1-text h2, #circle-1-text p, #circle-1-text button, #circle-1-text {
    will-change: transform;
    transform: translateX(120%);
}

.border-bottom {
    width: 0%;
    height: 1px;
    background: #fff;
}

.btn:focus, .btn:active {
    outline: none;
}

.btn-wrapper {
    display: inline-block;
    overflow: hidden;
}

.h2-wrapper {
    display: inline-block;
    overflow: hidden;
}

 #circle-3-text, #circle-4-text {
    opacity: 0;
}

#circle-2-text h2, #circle-2-text p, #circle-2-text button {
    will-change: transform;
    transform: translateX(120%);
}